@import "../../../sass/variables";

.headerWrapper {
  //background: #F3F6FD;
  // This is to allow space for the X above the buttons
  margin-top:10px;
  text-align: left;
  padding-left: 0;
  border-bottom: 2px solid $grey-light;
  //height: calc(100vh - 67px);
  margin-bottom: 0;
}

.headerItem {
  display: inline-block;
  list-style: none;
  height: 40px;
  //width: 50px;
  text-align: left;
  //border-top-left-radius: 10px;
  //border-top-right-radius: 10px;
  padding-top: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.2s linear all;
  padding-left: 10px;
  padding-right: 10px;

  &:hover {
    //border-bottom-color: $primary;
  }
}

.active {
  //background: $primary;
  color: $secondary;
  border-bottom-color: $secondary;
}