@import "../../../sass/variables";


.settingsWrapper {
  border-top: 1px solid #bbb;
  background: $sidebar-grey;
}
.container {
  display: flex;
  justify-content: flex-start;
}

.left {
  flex-basis: 720px;
}

.right {
  flex-grow: 1;
  max-width: 600px;
  padding-left: 50px;
}

