.wrapper {
  background: white;
  position: absolute;
  top: 0;
  left: 650px;
  height: 100%;
  width: 615px;
  transition: all ease-out 0.55s;
  z-index: 500;
  opacity: 0.7;
  box-shadow: -4px 2px 13px 1px rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  padding-top: 15px;

  > section {
    overflow: hidden;
    //overflow-y: scroll;
    //height: 545px;
  }
}

.in {
  left: 20px;
  opacity: 1;
}

.close {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}