.leftSide {
  float: left;
  height: 610px;
  width: 720px;
  padding-top: 35px;
}

.rightSide {
  width: 630px;
  height: 613px;
  overflow: hidden;
  float: right;
  position: relative;
  padding-left: 30px;
  padding-top: 30px;
}

.modalOverlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  // overflow: hidden;
}

.modalInner {
  background-color: white;
  position: absolute;
  overflow: hidden;
  //top: 20px;
  //left: 20px;
  //right: 20px;
  //bottom: 20px;
  //border-radius: 5px;
}
.stacked {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  //box-shadow : (10px 0 10px -5px rgba(0,0,0,0.5), -10px 0 10px -5px rgba(0,0,0,0.5));
  //box-shadow: 0px 5px 5px 4px rgba(0,0,0,0.34);

  //border-top-left-radius: 5px;
  //border-top-right-radius: 5px;
  overflow: hidden;
}

.modalClose {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9999;
}