@import "../../sass/variables";

.backButton{
  span {
    color: $secondary;
    line-height: 30px;
    font-size: 17px;
    float: left;
  }

  a {
    color: $grey-light;
    line-height: 30px;
    font-size: 19px;
    display: block;
    transition: 0.2s ease all;

    &:hover {
      color: $secondary;
    }
  }

  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
}