.container {
  padding: 20px 60px 20px 60px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(255, 255, 255);
  max-width: 960px;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}
.header {
  text-align: left;
  font-size: 27px;
  margin-bottom: 0;
  margin-top: 30px;
  padding: 0;
  position: relative;
  font-family: 'Rokkitt', serif !important;
  box-sizing: border-box;
}
.update {
  text-align: left;
  color: rgba(47, 47, 47, 0.43);
  font-size: 18px;
  line-height: normal;
  padding: 0;
  margin-bottom: 0;
  font-family: 'Rokkitt', serif !important;
}
.line {
  padding: 10px 0;
  display: block;
  width: 100%;
  min-width: 1px;
  margin: 0;
  div {
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0,0,0,0.1);
    min-height: 1px;
    display: block;
  }
}
.content {
  text-align: left;
  color: rgba(47,47,47,0.89);
  font-size: 16px;
  padding: 0;
  line-height: 1.5em;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
}

.error {
  text-align: center;
  font-size: 21px;
  color : red;
}