@import "../../../sass/variables";

.Integration {
  //background: white;
  //box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.2);
  padding: 20px;

  padding-bottom: 35px;
  margin-bottom: 35px;
  border-bottom: 2px solid $grey-light;
  position: relative;

  h2 {
    margin-top: 0;
  }

  &:last-of-type {
    border-bottom: 2px solid transparent;
  }
}

.content {
  display: flex;
}

.form {
  flex: 1;
  margin-top: 20px;
}

.image {
  width: 50px;
  height: 40px;
  position: absolute;
  top: 10px;
  left: 8px;
}