@import "../../../sass/variables";
@import "../../../sass/clearfix";

.passwordField {
  position: relative;

  small {
    position: absolute;
    top: 33px;
    color: $blue;
    right: 15px;
    cursor: pointer;
    line-height: 1.5;
    font-weight: 600;
  }
}
