@import "../../../sass/variables";

.MediaItemWrapper {
  //box-shadow: 0px 1px 3px 0px #564356;
  //background-color: #e9e9e9;
  border-radius: 5px;
  //width: 135px;
  //overflow: hidden;
  float: left;
  width: 48%;
  padding: 1%;
  margin-bottom: 7px;
  span {
    margin-right: 0 !important;
  }
}

.MediaItem {
  position: relative;
  background-color: white;
}

.active {
  box-shadow: 0px 2px 2px 0px $primary;
}

.draggable {
  cursor: move;
  height: 64px;
  overflow: hidden;
  margin-bottom: 3px;
  width: 115px;
  border-radius: 10px;
 // box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.4);
}
.clickable {
  cursor: pointer;
}


.image, .generatingThumb {
  max-width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid $grey;
}

.mediaTitle {
  text-align: left;
  font-size: 0.7em;
  overflow: hidden;
  line-height: 1.5;
  padding: 3px 0px;
  font-weight: 800;
  text-transform: uppercase;
  color: $grey-darkest !important;
  height: 22px;
  position: relative;
  //background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 100%;

  span {
    padding-left: 3px;
  }
}

.deleteIcon {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  background-color: rgba(255, 105, 97, 0.6);
  padding: 2px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;

  &:hover{
    color: #fff;
  }
}

.editIcon {
  //position: absolute;
  //left: 0px;
  //top: 1px;
  cursor: pointer;
  font-size: 12px;
  //background-color: white;
  //padding-left: 7px;
  //padding-right: 2px;
  border-right: 1px solid #ccc;
  margin-right: 3px;
}

.vimeoError {
  position: absolute;
  left: 45px;
  top: 12px;
  color: rgba(255, 105, 97, 1);
  padding: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: ease all 0.2s;
  background-color: rgba(55, 64, 74, 0.7);

  &:hover{
    color: rgba(255, 105, 97, 1);
  }

  span {
    font-size: 50px;
  }
}

.generatingThumb {
  text-align: center;
  padding-top: 30px;
  height: 78.656px;
  //margin-bottom: 2px;

  p {
    margin: 0;
    font-size: 11px;
  }
}

.elementIcon {
  margin-left: auto;
  margin-right: auto;
}
.elementItem {
  width : 95px;
  margin: 5px auto;
  background: #e9e9e9;
  text-align: center;
  @media #{$desktop} {
    width : 120px;
  }
  @media #{$lgDesktop} {
    width : 140px
  }
  @media (min-width: 1700px){
    width : 172px;
  }
}

.locked {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 22px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: #e1e1e1;

  &:hover {
    color: #e1e1e1;
  }
}

.lockedIcon {
  font-size: 50px;
  margin-top: 15%;

}
