@import '../../../sass/variables';

.pageWrapper {
  .grid, .col5 {
    height: 100%;
  }
}

.introSection {
  background-color: $grey-darkest;
  color: white;
  box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
  text-align: center;
  min-height: 100%;
}

.hero {
  background: white;
  border-radius: 25px;
  position: relative;
  height: 225px;
  box-shadow: 0 12px 15px -5px rgba(0,0,0,.25);
}

.heroImage {
  width: 500px;
  position: absolute;
  top: -50px;
  right: -2px;
}
.stat{
  height: 110px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
  border: 1px solid $grey-light;
  border-left-width: 5px;
  background: $grey-light;
}

.statIcon {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 5px;
  right: 20px;
}

.statContent {
  display: inline-block;
  padding-left: 20px;

  h1, h3, p {
    margin-bottom: 5px;
    margin-top: 5px;
  }

  span {
    font-weight: 300;
    opacity: 0.8;
  }

  small {
    font-size: 16px !important;
    padding-left: 0px !important;
  }
}

.greenStat {
  border-left-color: $primary;
}

.blueStat {
  border-left-color: $secondary;
}
.playRateStat {
  background: $red;
}

.statWrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  //box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
  //border-radius: 10px;
  //padding: 15px;
  border: 1px solid transparent;
  border-right-color: $background;
}
.lastMonth {
  background: $background;
  color: white;
  padding: 5px 10px;
  font-size: 13px;
  float: left;
  border-radius: 10px;
}

.commentsBox {
  border: 1px solid $grey-light;
  box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 15px;
}