@import "../../../sass/variables";

.ElementToolbar {
  // height: 100%;
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  font-size: 0.9em;
  // color: #ccc;
  padding-left: 3px;
  padding-bottom: 20px;
  
  
}

// .ElementToolbarItem .icon {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 6px;
//   color: $grey-light;

//   & + span {
//     margin-right: 0;
//     white-space: nowrap;

//     @media (max-width:1400px) {
//       display:none;
//     }
//   }
// }

