.wrapper {
  position: absolute;
  top: 0px;
  right: 15px;
  z-index: 100;
  //box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  //box-shadow: 0 3px 30px rgba(0,0,0,.1), 0 3px 20px rgba(0,0,0,.1);
  box-shadow: 0 2px 5px rgba(0,0,0,.1), 0 1px 2px rgba(0,0,0,.05);
  background-color: white;
  border-radius: 15px;
  overflow: hidden;

  button {
    //border-right: 1px solid #f3f3f3;
    border-right: 1px solid #d7d7d7;
    border-radius: 0 !important;
    font-size: 12px;
    padding: 7px 15px;

    &:hover {
      background: #f3f3f3;
    }

    &:last-of-type {
      border-color: transparent;
    }
  }
}
